.card {
    
    margin-top: 3rem;

    &:last-child {
        margin-bottom: 3rem;
    }

    &__headline {
        font-size: 2.5rem;

        &--child {
            font-size: 2.5rem;
            color: #009EA1;

            margin-top: 3rem;
        }
    }

    &__details {

        padding: 3rem;
        box-shadow: 0 10px 15px 0 #F5F5F5;

        &__field {
            font-size: 1.5rem;
            padding-bottom: 1.5rem;

            &__name {
                font-weight: bold;
            }
        }

    }
}

@media screen and (max-width: 800px) {
    .card {
        &__headline {
            font-size: 2rem;

            &--child {
                font-size: 2rem;
            }
        }
        
        &__details { 

            &__field {
                font-size: 1.2rem;
            }
        }
    }
}