<section class="news container">
    <h2 class="page-title mt-2 mb-3 text-bold">Новости</h2>

    <article class="news__cards">
        <a *ngFor="let item of news" class="news__cards__item">
            <div class="news__cards__item__image">
                <div class="news__cards__item__image__rect"></div>
                <img [src]="'../../../assets/images/svg/image-news-' + item.id + '.webp'">
            </div>
            <div class="news__cards__item__info">
                <h5>{{item.title}} </h5>
                <a routerLink="/news/{{item.id}}"><button><span>Подробнее ></span></button></a>
            </div>
        </a>
    </article>
</section>