.product-detail {

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    img {
        object-fit: contain;
        max-width: 100%;
    }

    h2,
    h3 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .image-with-caption {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2% 35%;

        img,
        ul {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        ul {
            margin-top: 2rem;
        }
    }

    .active {
        display: block;
    }

    .hidden {
        display: none;
    }

    .image-centered {
        width: 100%;
        max-height: 30rem;
    }

    &__header {
        position: relative;

        &__arrow-back {
            position: absolute;
            top: 5%;
            left: 5%;
            font-size: 3rem;
            z-index: 1;
            color: #009EA1;

            cursor: pointer;

            &:hover {
                font-size: 3.2rem;
                transition: 0.3s;
                font-weight: 600;
            }
        }

        &__transparent-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(217, 217, 217, 0.15);
            z-index: -1;
        }

        &__info {
            width: 100%;
            height: 100%;
            padding: 5% 5%;

            img {
                width: 100%;
                height: 400px;
                object-fit: contain;
            }
        }


    }

    &__main {
        display: none;

        &__injection-tech {

            &__image {
                display: grid;
                overflow: hidden;
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: 1fr;
                grid-column-gap: 5%;
                grid-row-gap: 2%;
                padding: 2% 20%;

                ul {
                    margin-top: 2rem;
                }
            }
        }

        &__assembly-heat-sources {

            &>ul {
                padding-left: 2%;

                li {
                    list-style-type: disc;
                }
            }

            .image-with-caption {
                padding: 2% 20%;

                ul {
                    padding: 2% 20%;
                    width: fit-content;
                }
            }
        }

        &__water-pump {
            .image-with-caption {
                img {
                    width: auto;
                    max-height: 200px;
                }
            }
        }

        &__coefficient {
            .image-centered {
                // width: 100%;
                // max-height: fit-content;
                // object-fit: cover;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .product-detail {
        &__main {
            &__injection-tech {
                &__image {
                    grid-template-columns: 1fr;
                }
            }

            .image-with-caption {
                padding: 2% 20%;
            }

            &__assembly-heat-sources .image-with-caption {
                padding: unset;

                ul {
                    width: fit-content;
                    padding: unset;
                }
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .product-detail {
        &__main {
            &__injection-tech {
                &__image {
                    padding: unset;
                }
            }
        }

        .image-with-caption {
            padding: unset;
        }
    }
}

@media screen and (max-width: 425px) {
    .product-detail {
        &__header {
            &__info {
                img {
                    width: 100%;
                }
            }
        }
    }
}