<section class="about">
    <div class="about__img">
        <img src="../../../assets/images/svg/image-about-us-header.svg" alt="image-hisense-office">
    </div>

    <div class="container about__what-is-hisense">
        <h2 class="page-title mt-3 mb-3">Что собой представляет <span class="text-bold">Hisense</span></h2>
        <p class="text mb-3">Hisense Group – известная крупная компания по производству электроники. Hisense производит
            мультимедийное оборудование, бытовую технику, интеллектуальные информационные системы и обустраивает
            современную недвижимость, используя цифровые мультимедийные технологии, технологии интеллектуальных
            информационных систем, современные коммуникационные технологии, экологически чистые энергосберегающие
            технологии охлаждения, городские интеллектуальные транспортные технологии, технологии оптической связи,
            медицинские электронные технологии и технологии лазерных дисплеев. Основанная на технологиях и
            ориентированная на инновационную культуру, ее научная и эффективная система технологических инноваций
            позволяет Hisense всегда занимать центральное место среди своих конкурентов.</p>
        <p class="text mb-3">Qingdao Hisense HVAC Equipment Co., Ltd., основанная в 2003 году, является дочерней компанией
            Qingdao Hisense Hitachi Air-conditioning Systems Co., Ltd., которая в свою очередь является совместным
            предприятием Hisense Group и Hitachi Air Conditioning (переименована в Johnson Control Hitachi в 2015 году).
            Она объединяет разработку технологий для коммерческих и бытовых систем централизованного кондиционирования
            воздуха, производство продукции, маркетинг и обслуживание в целом. При полной поддержке всех акционеров,
            таких как Hisense и Johnson Control Hitachi, Hisense HVAC стремится стать лидером рынка в отрасли.</p>
        <p class="text mb-3">Компания Hisense HVAC владеет передовым международным производственным оборудованием и
            средствами обеспечения качества. Основываясь на полном знании ведущих мировых технологий, компания Hisense
            HVAC постоянно внедряет новаторские установки кондиционирования воздуха. Имея высокий начальный уровень,
            компания активно продвигает действующую систему профессиональных технологий, профессионального производства,
            профессионального маркетинга, профессионального дизайна, профессиональных услуг и профессионального
            менеджмента, чтобы внедрить ведущие мировые технологии кондиционирования воздуха и распространить их по
            всему миру. Поэтому компания постоянно совершенствует технологии кондиционирования воздуха и упорно работает
            над созданием лучшей экологической среды для людей.</p>
    </div>

    <div class="container about__hisense-world">
        <h2 class="page-title mt-3 mb-2">Место <span class="text-bold">Hisense</span> в мире</h2>
        <h3 class="mb-3">История развития</h3>

        <p class="text mb-3">
            Hisense Group – международная многоцелевая корпорация, основанная в 1969 году. В течение этих лет, благодаря
            сильной глобальной научно-исследовательской команде и превосходному менеджменту, сфера деятельности Hisense
            охватывает производство мультимедийного и телекоммуникационного оборудования, бытовой и коммерческой
            техники, информационных систем, а также занимается проектами современной недвижимости.
        </p>

    </div>

    <div class="container about__hisense-history mb-3">
        <div class="about__hisense-history__cards">
            <div *ngFor="let card of cardDetails" class="zigzag-timeline__item">
                <h4 class="zigzag-timeline__milestone">{{card.year}}</h4>
                <app-image-text-barcard [info]="card" [alt]="'image-year-'+ card.year"></app-image-text-barcard>
            </div>
        </div>
    </div>
</section>