<section class="container awards">
    <div class="awards__logos">
        <img src="../../../assets/images/svg/logo-shaharsoz.svg" alt="logo-shaharsoz" class="shaharsoz">
        <img src="../../../assets/images/svg/logo-yuksalish.svg" alt="logo-yuksalish" class="yuksalish">
    </div>


    <div class="awards__apply-section">
        <!-- <img src="../../../assets/images/svg/image-apply-bg.svg" alt="image-apply"> -->

        <div class="awards__apply-section__text">
            <h2>Осталось один день
                до участия в Shaharsoz Award 2022</h2>
            <a href="#"><button><span>Подать Заявку ></span></button></a>
        </div>
    </div>

    <div class="awards__navigations"></div>

</section>