<section class="container awards">

    <div class="awards__language-selection">
        <button [class]="{'active': ru == true, 'inactive': ru == false}" (click)="translateLanguageTo('ru')"><span>RU</span></button>
        <span class="awards__language-selection__delimiter">|</span>
        <button [class]="{'active': uz == true, 'inactive': uz == false}" (click)="translateLanguageTo('uz')"><span>UZ</span></button>
    </div>

    <div class="awards__logos">
        <img src="../../../assets/images/svg/logo-shaharsoz.webp" alt="logo-shaharsoz" class="shaharsoz">
        <img src="../../../assets/images/organizers/logo-yuksalish.webp" alt="logo-yuksalish" class="yuksalish">
    </div>

    <div class="awards__apply-section">
        <div class="awards__apply-section__text">
            <!-- <div class="clockdiv mb-3">
                <div>
                  <span class="days">{{days}}</span>
                  <div class="smalltext">{{'timer.days' | translate}}</div>
                </div>
                <div>
                  <span class="hours">{{hours}}</span>
                  <div class="smalltext" [translate] = "'timer.hours'"></div>
                </div>
                <div>
                  <span class="minutes">{{minutes}}</span>
                  <div class="smalltext" [translate] = "'timer.minutes'"></div>
                </div>
                <div>
                  <span class="seconds">{{seconds}}</span>
                  <div class="smalltext" [translate] = "'timer.seconds'"></div>
                </div>
            </div> -->

            <span>{{'Танлов якунига етди' | translate}}.</span>
            <br>   
            <span>{{'Натижаларни қуйидаги хавола орқали кўришингиз мумкин' | translate}}</span>
            <br>
            
            <!-- <a [class.disabled]="applicationIsClosed" href="{{'forms_link' | translate}}" target="_blank">
                <button><span>{{ 'apply_button' | translate }}</span></button>
            </a> -->

            <a target="_blank" href="https://t.me/shaharsozliktolqini/247">
                <button><span>Натижаларни кўриш ></span></button>
            </a>
        </div>
    </div>

    <div class="awards__navigations">
        <nav class="awards__navigations__tab nav">
            <ul class="nav-list">
                <li class="nav-item" *ngFor="let item of navItems" (click)="activatePage(item.tabLink)"
                    [class]="{active: activeLink === item.tabLink}">
                    <a class="nav-link">{{item.name | translate}}</a>
                </li>
            </ul>
        </nav>

        <div class="awards__navigations__tabcontent">
            <section [class]="openPage('about-awards')">
                <h2 class="awards__navigations__tabcontent__headline text-bold">{{"tabs.about_awards.title" | translate}}</h2>
                <p class="text" [translate]="'tabs.about_awards.text.1'">
                    {{"tabs.about_awards.text.1" | translate}}
                </p>
                <br>
                <p class="text">
                    {{"tabs.about_awards.text.2" | translate}}
                </p>
                <br>
                <p class="text">
                    {{"tabs.about_awards.text.3" | translate}}
                </p>
                <br>
                <p class="text">
                    {{"tabs.about_awards.text.4" | translate}}
                </p>
                <br>
                <p class="text emphasized">
                    {{"tabs.about_awards.text.5" | translate}}
                </p>
                <br>
                <p class="text emphasized">
                    {{"tabs.about_awards.text.6" | translate}}
                </p>
                <br>
                <p class="text">
                    {{"tabs.about_awards.text.7" | translate}}
                </p>
            </section>

            <section [class]="openPage('awards-and-deadlines')">
                <h2 class="awards__navigations__tabcontent__headline text-bold">{{"tabs.awards_and_deadlines.title" | translate}}</h2>
                <p class="text">
                    <span>{{"tabs.awards_and_deadlines.text.1.1" | translate}} </span>
                    <span class="text-bold">{{"tabs.awards_and_deadlines.text.1.2" | translate}} </span> 
                    <span>{{"tabs.awards_and_deadlines.text.1.3" | translate}} </span>
                    <span class="text-bold">{{"tabs.awards_and_deadlines.text.1.4" | translate}} </span> 
                    <span>{{"tabs.awards_and_deadlines.text.1.5" | translate}} </span>
                    <span class="text-bold">{{"tabs.awards_and_deadlines.text.1.6" | translate}} </span> 
                    <span>{{"tabs.awards_and_deadlines.text.1.7" | translate}}</span>
                </p>
                <br>
                <br>
                <p class="text">
                    <span>{{"tabs.awards_and_deadlines.text.2.1" | translate}} </span>
                    <span class="text-bold">{{"tabs.awards_and_deadlines.text.2.2" | translate}}</span>
                </p>
                <br>
                <p class="text">
                    <span>{{"tabs.awards_and_deadlines.text.3.1" | translate}} </span>
                    <span class="text-bold">{{"tabs.awards_and_deadlines.text.3.2" | translate}}</span>
                </p>
                <br>
                <p class="text">
                    <span>{{"tabs.awards_and_deadlines.text.4.1" | translate}} </span>
                    <span class="text-bold">{{"tabs.awards_and_deadlines.text.4.2" | translate}}</span>
                </p>
                <br>
                <br>
                <span class="text">
                    {{"tabs.awards_and_deadlines.text.5" | translate}}
                </span>

                <a class="text text--email"
                    href="mailto: shaharsozliktolqini@gmail.com">shaharsozliktolqini@gmail.com</a>
                <br>

                <h2 class="awards__navigations__tabcontent__headline text-bold mt-3">{{"tabs.nominations.title" | translate}}</h2>
                <p class="text text-bold">{{"tabs.nominations.sections.architecture.title" | translate}}</p>
                <p class="text">
                    {{"tabs.nominations.sections.architecture.description" | translate}}
                </p>
                <br>
                <p class="text text-bold">{{"tabs.nominations.sections.urban_planning.title" | translate}}</p>
                <p class="text">
                    {{"tabs.nominations.sections.urban_planning.description" | translate}}
                </p>
                <br>
                <p class="text text-bold">{{"tabs.nominations.sections.construction.title" | translate}}</p>
                <p class="text">
                    {{"tabs.nominations.sections.construction.description" | translate}}
                </p>
                <br>
                <p class="text text-bold">{{"tabs.nominations.sections.engineering.title" | translate}}</p>
                <p class="text">
                    {{"tabs.nominations.sections.engineering.description" | translate}}
                </p>
                <br>

                <p class="text">
                    {{"tabs.nominations.text.1" | translate}}
                </p>

                <p class="text">
                    {{"tabs.nominations.text.2" | translate}}
                </p>
                
                <p class="text">
                    <span>{{"tabs.nominations.text.3" | translate}} </span>
                    
                    <a class="text"
                        href="https://drive.google.com/drive/folders/1q-rpt79xm8TZAkKG2Cpjo1MzIBt6c5WH?usp=sharing"
                        target="_blank">{{"tabs.nominations.text.link" | translate}} </a>
                    <br>
                </p>
            </section>

            <section [class]="openPage('judges-and-criterias')">
                <h2 class="awards__navigations__tabcontent__headline text-bold">{{"tabs.jury_and_selection_principles.title" | translate}}</h2>
                <p class="text mb-2">
                    {{"tabs.jury_and_selection_principles.text.1" | translate}}
                </p>
                <br>
                <p class="text mb-2">
                    <span class="text-bold">{{"tabs.jury_and_selection_principles.text.2span" | translate}} </span>
                    <span>{{"tabs.jury_and_selection_principles.text.2" | translate}}</span>
                </p>
                <br>
                <p class="text mb-2">
                    <span class="text-bold">{{"tabs.jury_and_selection_principles.text.3span" | translate}} </span>
                    <span>{{"tabs.jury_and_selection_principles.text.3" | translate}}</span>
                </p>
                <br>
                <p class="text mb-2 mb-3">
                    <span class="text-bold">{{"tabs.jury_and_selection_principles.text.4span" | translate}} </span>
                    <span>{{"tabs.jury_and_selection_principles.text.4" | translate}}</span>
                </p>

                <ng-container *ngFor="let judge of judges">
                    <p class="text--headline text text-bold mt-3 mb-1">{{judge.category | translate}}</p>
                    <section class="cards mb-3">
                        <article *ngFor="let item of judge.cards" class="cards__item">
                            <div class="cards__item__image">
                                <img src="{{item.img}}" alt="card-image">
                            </div>
                            <div class="cards__item__info">
                                <h3>{{item.name}}</h3>
                                <h5>{{item.description | translate}}</h5>
                            </div>
                        </article>
                    </section>
                    <br>
                </ng-container>
            </section>

            <section [class]="openPage('org-committee')">
                <h2 class="awards__navigations__tabcontent__headline text-bold">{{"tabs.orgcommitet.title" | translate}}</h2>
                <section class="cards">
                    <article *ngFor="let item of orgCommittee" class="cards__item">
                        <div class="cards__item__image">
                            <img src="{{item.img}}" alt="card-image">
                        </div>
                        <div class="cards__item__info">
                            <h3>{{item.name}}</h3>
                            <h5>{{item.description | translate}}</h5>
                        </div>
                    </article>
                </section>
            </section>

            <section [class]="openPage('organizers')">
                <h2 class="awards__navigations__tabcontent__headline text-bold">{{'Ташкилий қўмита' | translate}}</h2>
                <section class="organizers">
                    <img src="../../../assets/images/organizers/logo-hisense.webp" alt="logo-hisense">
                    <img src="../../../assets/images/organizers/logo-yuksalish.webp" alt="logo-yuksalish">
                    <img src="../../../assets/images/organizers/logo-shaharsozlik-to'lqini.webp"
                        alt="logo-shaharsozlik-to'lqini">
                </section>
            </section>
        </div>

    </div>

</section>