<footer class="container footer">
    <a class="footer__logo" href="#">
        <img src="assets/images/svg/logo.svg" alt="logo"/>
    </a>

    <p class="footer__text">Qingdao Hisense HVAC Equipment Co., Ltd.</p>

    <div class="footer__social-media-list">
        <a href="https://instagram.com/hisense_hvac_uzbekistan?igshid=YmMyMTA2M2Y="><img src="../../../assets/images/svg/icon-instagram.svg" alt="logo-instagram"></a>
        <a href="https://www.facebook.com/1915744238717007/posts/pfbid0mKu5KE9M8d76MzDoW2Z5G3JywgV5VCGCw3BKshKQtA29TpwRmH48ZUwSLY9WD2Nnl/"><img src="../../../assets/images/svg/icon-facebook.svg" alt="logo-facebook"></a>
        <a href="https://t.me/hisenseVRF"><img src="../../../assets/images/svg/icon-telegram.svg" alt="logo-telegram"></a>
    </div>
</footer>